**/node_modules
**/.svelte-kit
**/build
**/.git
**/.gitignore
**/.env
**/.env.*
!**/.env.example
**/.DS_Store
**/.dockerignore
docker-compose.yml
prod.docker-compose.yml
README.md
DEPLOYMENT.md
.github
docker/dev
app/.svelte-kit
app/build
app/redis
app/db
redis
db
